/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/resources/views/sites/admin/material/src/node_modules/
/resources/views/sites/customer/exzo/src/node_modules/
/public/product_images/
