/node_modules
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/resources/views/sites/admin/material/src/node_modules/
/resources/views/sites/customer/exzo/src/node_modules/
composer.lock
composer.json
config/app.php
